* {
  margin: 0;
  padding: 0;
}

.sidebar {
  grid-area: sidebar;
  background-color: cornflowerblue;
}

.sidebar2 {
  grid-area: sidebar2;
  background-color: coral;
}

.content {
  grid-area: content;
  background-color: brown;
}

.header {
  grid-area: header;
  width: 100%;
}

.footer {
  grid-area: footer;
  background-color: blue;
}

.wrapper {
  background-color: #fff;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer";
}

input {
  width: 30%;
  height: 30px;
  font-size: 12.6pt;
  border-radius: 5px;
  border: solid 1px #706e6e;
  transition: 1s;
  margin: 0 15%;
}
input[type="text"]:hover {
  box-shadow: 0 0 5pt 0.5pt #7a58f7;
}
input[type="text"]:focus {
  box-shadow: 0 0 5pt 2pt #7a58f78c;
  outline-width: 0px;
}
.box a {
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #3b49df;
  color: black;
  font-size: 1rem;
  padding: 10px;
}

@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 60% auto;
    grid-template-areas:
      "header   header"
      "sidebar  content"
      "sidebar2 sidebar2"
      "footer   footer";
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 30% auto 30%;
    grid-template-areas:
      "header  header  header"
      "sidebar content sidebar2"
      "footer  footer  footer";
    max-width: 100%;
  }
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}
